<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <div class="pokemon-logo"></div><span class="pokemon-title">Pokemon</span><span class="showpad-title mx-2">ShowPad</span> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mx-4" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['welcome']">Welcome<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pokedex']">List of Pokemon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pokemoncaught']">Pokemon I've caught</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pokemonwishlist']">Pokemon WishList</a>
      </li>



    </ul>

  </div>
</nav>
