.pokemon-logo {
  background-image: url(../../assets/images/pikachu_logo.png);
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold
}

.pokemon-title {
  color: #ffcd05;
  font-size: 40px;
  font-weight: bold;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #395ea9;
  font-family: fantasy;
}
.showpad-title {
  font-size: 20px;
  font-weight: bold;
}
