<div class="container mt-5">
  <div class="card w-100" *ngIf="pokemonFigure">
    <img class="card-img-top pokemon-avatar" [src]="pokemonFigure.sprites.front_default" alt="Card image cap">

    <div class="row">
      <div class="col-lg-6">
        <div class="card-body">
          <h5 class="card-title text-danger">Name: {{ pokemonFigure?.name }}</h5>
          <p class="card-text text-danger">
            Height: {{ pokemonFigure?.height}} <br />
            Order: {{ pokemonFigure?.order}}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <h5 class="card-title  text-info">Abilities</h5>
        <ul class="list-group list-group-flush  text-info">
          <li class="list-group-item" *ngFor="let abilities of pokemonFigure.abilities"> {{abilities.ability.name }}</li>
        </ul>

        <h5 class="card-title  text-success">Stats</h5>
        <ul class="list-group list-group-flush  text-info">
          <li class="list-group-item" *ngFor="let stats of pokemonFigure.stats"> {{stats.stat.name }}
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width]="stats.base_stat + '%'" aria-valuemin="0" aria-valuemax="100">{{ stats.base_stat }}%</div>
            </div>
          </li>
        </ul>
      </div>
    </div>



    <div class="card-body">
      <a [routerLink]="['/pokedex']">Go Back</a>
    </div>

  </div>


</div>

